.editable-table {
  .editable-cell {
    cursor: pointer;
    //color: @primary-color;
    &:hover {
      //background-color: fade(@primary-color, 10%);
    }
  }

  .editable-input {
    width: 100%;
  }

  .table-actions {
    padding: 12px;
    text-align: right;
    //background-color: @background-color-light;

    .ant-btn {
      margin-left: 8px;
    }
  }

  &.ant-table-wrapper {
    overflow-x: auto;
    white-space: nowrap;
  }

  .ant-table {
    min-width: 100%;
    table {
      width: 100%;
      min-width: max-content;
    }
    .ant-table-cell {
      white-space: nowrap;
      overflow: hidden; // 隐藏超出宽度的内容
      text-overflow: ellipsis; // 超长内容显示省略号
      max-width: 300px; // 防止单列过宽，可根据需要调整
    }
  }
}