.editable-table {
  .editable-cell {
    cursor: pointer;
    //color: @primary-color; // 使用 Ant Design 的主题变量
    &:hover {
      //background-color: fade(@primary-color, 10%);
    }
  }

  .editable-input {
    width: 100%;
  }

  .table-actions {
    padding: 12px;
    text-align: right;
    //background-color: @background-color-light;


    .ant-btn {
      margin-left: 8px;
    }
  }
}